<div class="wrapper">
  <div class="container">
    <mat-card>
      <div>
        <div>
          <div class="title">
              <h1>Chatrooms</h1>
          <button mat-button [routerLink]="['../create-room']">Create new Room</button>
          </div>
          <div *ngIf="(rooms$|async)?.items?.length > 0; else no_rooms" class="rooms">
            <mat-selection-list [multiple]="false" (selectionChange)="onSelectRoom($event)">
              <mat-list-option *ngFor="let room of (rooms$ | async)?.items" [value]="room">
                Name: {{room.name}} Id: {{room.id}}
                <mat-divider></mat-divider>
              </mat-list-option>
            </mat-selection-list>
            <mat-paginator [length]="(rooms$ | async)?.meta?.totalItems" [pageIndex]="(rooms$ | async)?.meta?.currentPage"
              [pageSize]="(rooms$ | async)?.meta?.itemsPerPage" (page)="onPaginateRooms($event)"
              [pageSizeOptions]="[10,25,50]"></mat-paginator>
          </div>
        </div>
        <div class="chatroom">
          <app-chat-room [chatRoom]="selectedRoom"></app-chat-room>
        </div>
      </div>
    </mat-card>
  </div>

  <ng-template #no_rooms>
      <mat-error>No Chatrooms for you so far, please create one or get invited</mat-error>
  </ng-template>
</div>