<div class="wrapper">
	<div class="container-login">
		<h1 class="login">Login</h1>
		
		<form class="form">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
			<a routerLink="/register" class="log-reg-dir">Register</a>
		<!-- <input type="text" placeholder="Guest" > -->
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li class="circle"></li>
		<li></li>
		<li class="circle"></li>
		<li></li>
		<li class="circle"></li>
		<li class="circle"></li>
		<li></li>
		<li class="circle"></li>
	</ul>
</div>