.container {
    display: flex;
    justify-content: center;
    margin: 20px;
    min-width: 350px;
  
    // .dashboard {
    //   margin-bottom: 20px;
    // }
  
    mat-card {
      mat-card-content {
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
  
          mat-form-field {
            width: 100%;
            min-width: 300px;
          }
  
          .button {
            display: flex;
            margin: 20px;
            justify-content: flex-end;
          }
        }
      }
    }
  
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
  }
  body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
  }
  body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300;
  }
  body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
  }
  .login{
      color: white;
  }

  .wrapper {
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .wrapper.form-success .container-login h1 {
    transform: translateY(85px);
  }
  .container-login {
    margin: 0 auto;
    text-align: center;
  }
  .container-login h1 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
  }
  form {
    padding: 50px 0;
    border-radius: 300px;
    position: relative;
    z-index: 2;
  }
  form mat-form-field {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    margin: 0 auto 15px auto;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
    padding: 7px 20px;
    padding-top: 0px;
  }
  
  .mat-icon{
    height:18px !important;
    width:8px !important;
    font-size:18px !important;
  }
  
  form mat-form-field:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  form mat-form-field:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
  }
  form button, a.log-reg-dir {
    display: block;
    margin: 0 auto 10px auto;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
  }
  form a.log-reg-dir {
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
  }
  form a:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  form button:hover {
  background-color: #f5f7f9;
  border-radius: 5px;
  box-shadow: 0 0 10px #53e3a6,
            0 0 15px #53e3a6,
            0 0 20px #53e3a6,
            0 0 40px #53e3a6;
  }
  .bg-bubbles {
    position: absolute;
    left: 0;
  top: -200px;
    width: 100%;
    height: 100%;
    z-index: 1;
  /* padding-top: 50%; */
  }
  .bg-bubbles li {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    position: absolute;
    list-style: none;
    display: block;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    transition-timing-function: linear;
  }
  .bg-bubbles li:nth-child(1) {
    left: 10%;
  }
  .bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 37s;
            animation-duration: 37s;
  }
  .bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  .bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 42s;
            animation-duration: 42s;
    background-color: rgba(255, 255, 255, 0.25);
  }
  .bg-bubbles li:nth-child(5) {
    left: 70%;
  }
  .bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }
  .bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
  }
  .bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
            animation-delay: 11s;
  }
  li.circle {
    border-radius: 300px;
  }
  @-webkit-keyframes square {
    0% {
      transform: translateY(800px);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }
  @keyframes square {
    0% {
      transform: translateY(800px);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }
  