<link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
rel="stylesheet">
<div class="wrapper">
	<div class="container-login" >
		<h1 class="login">Pong-Wars</h1>
		<h2 class="login">The original Pong in 5 points</h2>
		
		<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<mat-form-field appearance="standard">
				<input matInput placeholder="Email" formControlName="email">
				 <mat-error *ngIf="loginForm.controls.email.errors">{{getErrorMessageEmail()}}</mat-error>
			</mat-form-field>
			<mat-form-field appearance="standard">
				<input matInput placeholder="Password" formControlName="password"[type]="hide ? 'password' : 'text'">
					<mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</mat-form-field>
			<button mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit" id="login-button">Log in</button>
			<p>or</p>
			<a routerLink="/public/register" class="log-reg-dir">Register</a>
			<!-- <input type="text" placeholder="Guest" > -->
		</form>
		<a class="log-reg-dir" href="/api/oauth2/school42">
			<span style="color: #8F0000">Log in with</span>
			<img style="width: 50px"src="/assets/img/site/42.svg.png" >
		  <span style="color: #8F0000">account</span>
	  </a>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li class="circle"></li>
		<li></li>
		<li class="circle"></li>
		<li></li>
		<li class="circle"></li>
		<li class="circle"></li>
		<li></li>
		<li class="circle"></li>
	</ul>
</div>
