body {
    margin: 0 0 0 90px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: #ACBFA4;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

button.vlm {
	background-color: transparent;
	border-color: transparent;
}