<div *ngIf="joinRoom; else no_chatroom_selected">

  <!-- Header -->
  <div style="height: 125px;">
    <span style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
      <h2>
        <mat-icon>group</mat-icon>
        {{joinRoom.name}}
      </h2>
     
     
    
    </span>
  </div>

  <!-- Messages -->
  <div *ngIf="joinRoom.type == protected;else oki" class="addUser">
		<mat-form-field appearance="standard">
			<input matInput placeholder="Password" [formControl]="password" type="hidden">
		</mat-form-field>
		<button mat-raised-button color="primary" [disabled]="!password.valid" (click)="addUser()">Add User</button>
  </div>

  <ng-template #oki>
	  <div class="addUser">
		  <button mat-raised-button color="primary" (click)="addUser()">Add</button>
		</div>
	</ng-template>

</div>




<ng-template #no_chatroom_selected>
  <mat-error>No Chatroom Selected</mat-error>
</ng-template>