<nav class="main-menu">
	<ul>
		<li class="sep-bot">
			<a routerLink="/private/profile" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="/assets/img/site/user.png"/>
				<span class="nav-text">
					Profile
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/private/dashboard" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="/assets/img/site/message.png"/>
				<span class="nav-text">
					Chat
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/private/match" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="/assets/img/site/katana-sword.png"/>
				<span class="nav-text">
					Match
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/private/friend" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="../assets/img/site/crowd.png" />
				<span class="nav-text" >
					Friend
				</span>
			</a>
		</li>
	</ul>

	<ul class="logout">
		<li>
			<a routerLink="/private/setting" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="/assets/img/site/apple-settings.png" />
				<span class="nav-text" >
						Setting
				</span>
			</a>
		</li>  
		<li>
			<a routerLink="/private/logout" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="/assets/img/site/shutdown.png"/>
				<span class="nav-text" >
					Logout
				</span>
			</a>
		</li>  
	</ul>
</nav>
<div id="app"></div>