<div class="wrapper">
	<div class="container">
	  <div class="dashboard">
		  <a [routerLink]="['../dashboard']">Go to Dashboard</a>
		</div>
	  <mat-card>
		<div>
		  <div>
			<div class="title">
				<h1>Room {{room.name}}</h1>
		  </div>
		  <mat-divider></mat-divider>
		  <div *ngIf="(room$|async)?.users?.length > 0; else no_friends" class="friends-list">
			  <h3>Users in room</h3>
			<mat-list>
				<mat-list-item *ngFor="let roomUsers of (room$ | async)?.users">
					{{roomUsers.username}}
					<button  mat-button class="firstbutton" (click)="removeUser(roomUsers)">
						Remove user
					</button>
					<button  mat-button  class="firstbutton" (click)="removeUser(roomUsers)">
						Mute user  
					</button>
					<!--<ng-template #UnBan>
						<button mat-button class="firstbutton" (click)="removeUser(allUsers)">
							Unban {{allUsers.username}}
						</button>
					</ng-template>-->
				  <mat-divider></mat-divider>
				</mat-list-item>
			  </mat-list>
		</div>
		<ng-template #no_friends>
			<br>
			<mat-error>`I have no friends and no enemies - only competitors`</mat-error>
		</ng-template>
		  </div>
		</div>
	  </mat-card>
	</div>
  
	<ng-template #no_rooms>
		<mat-error>No Chatrooms for you so far, please create one or get invited</mat-error>
	</ng-template>
  </div>