<div *ngIf="(user$ | async) as user" class="wrapper">
	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img src="/assets/img/site/{{user.avatar}}" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">{{user.username}}</h1>

				<button class="btn profile-edit-btn" (click)=follow()>
					Follow or ask friend
				</button>
			

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">188</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>

			</div>

		</div>
		<!-- End of profile section -->
	</div>
	<div class="container-block">
		<div class="stats">Stats
			<div class="ranked">Ranked
				<br>
				Or
				<br>
				image or
			</div>
			<div class="several">Victory/Loss
				<br>
				{{user.nbWin}}/{{user.nbLoss}}
				<br>
				WinRate: {{user.nbWin / (user.nbWin + user.nbLoss) * 100}}%
				<br>
				<progress value="{user.nbWin / (user.nbWin + user.nbLoss) * 100}}" max="100"></progress>

			</div>

		</div>
			<div class="achievements">Achievements

			</div>
			<div class="battles">Last 5 matches

			</div>
		</div>
		<!-- End of container -->
	</div>
