<div *ngIf="(user$ | async) as user" class="wrapper">
	<div class="container">

		<div class="profile">

			<div class="profile-image">
				<img [src]="imageToShow" alt="Place image title" *ngIf="imageToShow; else noImageFound">
				<ng-template #noImageFound>
				     <img src="/assets/img/site/fallbackImage.png" alt="Fallbackimage">
				</ng-template>
			</div>

			<div class="profile-user-settings">
				
				<h1 class="profile-user-name">{{user.username}} {{user.status}}</h1>
			</div>
				<div class="profile-user-settings">
				<button *ngIf="yourFriend; else addUser" class=btn profile-edit-btn (click)=addFriend()>
					<i class="btn profile-settings-btn" aria-label="profile settings" class="fad fa-user-plus"></i>
					Add Friend
				</button>
				<ng-template #addUser>
				<button class="btn profile-edit-btn" (click)=removeFriend()>
					<i class="btn profile-settings-btn" aria-label="profile settings" class="fad fa-user-minus"></i>
					Delete Friend
				</button>
			</ng-template>
				<button *ngIf="yourBlocked; else muteUSer" class="btn profile-edit-btn" (click)=blockUser()>
					<i class="btn profile-settings-btn" aria-label="profile settings" class="fad fa-comment"></i>
					Unmute User
				</button>
				<ng-template #muteUSer>
					<button class="btn profile-edit-btn" (click)=blockUser()>
						<i class="btn profile-settings-btn" aria-label="profile settings" class="fad fa-comment-slash"></i>
						Mute User
					</button>
				</ng-template>
			

			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">188</span> followers</li>
					<li><span class="profile-stat-count">206</span> following</li>
				</ul>

			</div>

		</div>
		<!-- End of profile section -->
	</div>
	<div class="container-block">
		<div class="stats">Stats
			<div class="ranked">Ranked
				<br>
				Or
				<br>
				image or
			</div>
			<div class="several">Victory/Loss
				<br>
				{{user.nbWin}}/{{user.nbLoss}}
				<br>
				WinRate: {{user.nbWin / (user.nbWin + user.nbLoss) * 100 | number:'1.1-2'}}%
				<br>
				<progress value="{{user.nbWin / (user.nbWin + user.nbLoss) * 100}}" max="100"></progress>

			</div>

		</div>
			<div class="achievements">Achievements

			</div>
			<div class="battles">Last 5 matches

			</div>
		</div>
		<!-- End of container -->
	</div>
