input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label{
    cursor: pointer;
    width: 160px;
    height: 50px;
    background: grey;
    border-radius: 50px;
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
    transition: 0.3s;
}

input:checked + label {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 70px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}