<nav class="main-menu">
	<ul>
		<li class="sep-bot">
			<a routerLink="/">
				<img class="side-img" src="/assets/img/site/home-page.png"/>
				<span class="nav-text">
					Home
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/profile" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="/assets/img/site/user.png"/>
				<span class="nav-text">
					Profile
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/match" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="/assets/img/site/katana-sword.png"/>
				<span class="nav-text">
					Match
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/stats" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="/assets/img/site/medal.png"/>
				<span class="nav-text">
					Stats
				</span>
			</a>
		</li>
		<li>
			<a routerLink="/friend" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="../assets/img/site/crowd.png" />
				<span class="nav-text" >
					Friend
				</span>
			</a>
		</li>
	</ul>

	<ul class="logout">
		<li>
			<a routerLink="/setting" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="/assets/img/site/apple-settings.png" />
				<span class="nav-text" >
						Setting
				</span>
			</a>
		</li>  
		<li>
			<a routerLink="/logout" routerLinkActive="active" #rla="routerLinkActive">
				<img class="side-img" src="/assets/img/site/shutdown.png"/>
				<span class="nav-text" >
					Logout
				</span>
			</a>
		</li>  
	</ul>
</nav>
<div id="app"></div>