<style>
    html, body {
        height: 100%;
        margin: 0;
    }
    body {
        background: black;
        display: flex;
        align-items: left;
        justify-content: center;
    }
</style>
<body>
    <p class='score_c' style="color:black;font-size:30px" id="score">0 : 0</p>
    <button class='custom_h_w' type="button" id="normal">Normal Game</button>
    <button class='custom_h_w' type="button" id="blitz">Blitz Game</button>
    <button class='custom_h_w' type="button" id="spectate">Spectate</button>
    <canvas width=window.innerWidth height=window.innerHeight id="game"></canvas>
</body>